<%= @post.title %>
<br>
<%= @post.body %>
<br>
<ul>
<% @post.links.each do |link| %>
<li><%= link_to link.title, link.url %></li>
<% end %>
</ul>
<br>
This Post is Shared With:
<ul>
<% @post.shared_circles.each do |circle| %>
<li><%= circle.name %></li>
<% end %>
</ul>
<br>
<%= button_to "Delete Post", post_url(@post), :method => :delete %>
<br>
<%= link_to "Back to Profile",user_url(current_user)%>